<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        用户名：<input type="text" v-model="user.username"><br>
        密码：<input type="text" v-model="user.password"><br>
        <span v-if="flag" id="s1">
          span1元素显示了。
    </span>
        <span v-show="flag" id="s2">
          span2元素显示了。
    </span>
    </div>
<script>
    new Vue({
        el:"#app",
        data:{
            user:{
                username:"dxy",
                password:"123"
            },
            flag:false
        }
    })
</script>
</body>
</html>